html {
    box-sizing: border-box;

    background-color: #e4e2e1;
    color: #202020;
    font-family: monospace;
    font-size: 16px;
    line-height: 24px;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
}

#calc-container {
    width: 340px;
    margin: 72px auto;
    padding: 0;
    
    display: flex;
    flex-flow: column nowrap;

    background-color: #f3f3f3;
    border-radius: 1.5em;
    box-shadow: 0.25em 0.25em 1em #dbd9d7;
}

/* display area */

#calc-previous, #calc-display {
    flex-basis: 100%;

    text-align: right;
}

#calc-previous {
    margin: 64px 16px 8px 16px;
}

#calc-display {
    margin: 8px 16px;
    min-height: 24px;

    font-size: 32px;
    font-weight: 800;
}

p#warning {
    margin: 24px 16px 16px 16px;

    color: #cf3812;
}

/* numpad area */

#calc-numpad {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    gap: 16px;

    margin: 1em 0 0 0;
    padding: 16px;

    background-color: #e7e5e4;
    border-radius: 1.5em;
}

button {
    flex: 0 0 21%;

    height: 4em;
    padding: 0;
    margin: 0;

    background-color: #e4e2e1;
    border: 0;
    border-radius: 16px;
    font-size: 1em;
    font-weight: 500;
}

button:hover {
    cursor: pointer;
}

button.operator, #calc-previous .operator {
    color: #cf3812;
    font-weight: 600;
}

button.clear, button.delete {
    color: #12b1bd;
    font-weight: 600;
}

div.flex-break {
    margin: 0;
    flex: 0 0 45%;
}

/* others & helpers */

.hidden {
    display: none;
}